body {
    background: gray;
}

#title {
    color: purple
}
.post_title {
    font-size: 16px;
    font-style: italic;
    color: purple;
}
.post {
    background: white;
    padding: 10px;
    border: 3px solid violet;
    margin: 10px;
    color: purple;
}